<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab4_3_droidcafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab4_2_DroidCafeInput">

        <activity
            android:name="com.example.lab4_3_droidcafe.MainActivity"
            android:exported="true"

            android:theme="@style/Theme.Lab4_2_DroidCafeInput.NoActionBar" >
            <!-- MainActivity is set with NoActionBar Theme -->
            <!-- Change in values/themes.xml  add to customize themes ...-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.lab4_3_droidcafe.OrderActivity"
            android:exported="false"
            android:parentActivityName="com.example.lab4_3_droidcafe.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lab4_3_droidcafe.MainActivity" />
        </activity>
    </application>



</manifest>