<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab2_3_implicitintentsreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab2_3_ImplicitIntentsReceiver">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- add second intent-filter here to register Android system to handle webbrowser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="google.com"/>
            </intent-filter>

        </activity>
    </application>

</manifest>

<!--
Note:
This Intent filter, indicates that this Activity is the main entry point for your app (it has an Intent action of "android.intent.action.MAIN"),
and that this Activity should appear as a top-level item in the launcher (its category is "android.intent.category.LAUNCHER").

action - "android.intent.action.VIEW" - Any Intent with view actions.
category - "android.intent.category.DEFAULT" - Any implicit Intent. This category must be included for your Activity to receive any implicit Intent.
category - "android.intent.category.BROWSABLE" - Requests for browsable links from web pages, email, or other sources.
data - android:scheme="https"
android:host="google.com"  - URIs that contain a scheme of http and a host name of google.com.


-->